.card {
	position: relative;
	transition:1s;
	overflow: hidden;
}

.card:before{
	content:"";
	width:50%;
	height:100%;
	position: absolute;
	background: rgb(227, 227, 42);
	top:0;
	left:-50%;
	transition:1s;
}
.card:after{
	content:"";
	width:50%;
	height:100%;
	position: absolute;
	background: rgb(227, 227, 42);
	top:0;
	right:-50%;
	transition:1s;
}
.card:hover:before{
	left:0;
	opacity: .5;
}
.card:hover:after{
	right:0;
	opacity: .5;
}